// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins/clearfix";
@import "bootstrap/mixins/center-block";
@import "bootstrap/mixins/image";
@import "bootstrap/mixins/grid";
@import "bootstrap/mixins.scss";
@import "bootstrap/mixins/css3-mixins";

.body {
	font-family: 'latolight', Helvetica, Arial , sans-serif;
}

.logo {
	$height: 108px;
	padding: 80px 0 30px 0;
	img {
		width: auto;
		
		@media (max-width: $screen-sm-max) {
			height: ($height - 20)/2;
		}
		@media (min-width: $screen-sm-min) {
			height: $height/2;
		}
	}
}

.rotating-text {
	padding-bottom: 30px;
	text-align: center;
	span {
		position: relative;
		opacity: 0;
		display: none;
		&.active {
			position: relative;
			opacity: 1;
			display: block;
		}
	}
}

.push-left {
	@include make-sm-column-offset(1);
	@include make-md-column-offset(2);
}

.list-summary {
	li {
		margin: 8px 0;
		font-size: 1.2em;
		i {
			padding-right: 5px;
		}
	}
}

.teaser-support-description{
	@include make-xs-column(8);
	@include make-sm-column(8);
	@include make-md-column(5);
	padding-top: 60px;
	padding-bottom: 60px;
}
.teaser-support-img {
	@include make-xs-column(4);
	@include make-sm-column(2);
	@include make-md-column(3);
}
.teaser-description {
	@include make-xs-column(12);
	@include make-sm-column(10);
	@include make-md-column(8);
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;

	.supporting-text,
	.main-text {
		font-family: 'latolight', Helvetica, Arial , sans-serif;
	}

	.input {
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;

		.form-control {
			z-index: 5;
			border: none;
			padding-left: 60px;
			padding-right: 150px;
			box-shadow: none;
		}

		.input-container {
			position: relative;

			.placeholder {
				color: rgb(44, 142, 213);
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: transparent;
				z-index: 10;
				text-align: center;
				padding-top: 15px;
				padding-left: 20px;
				font-size: 1.2em;
				z-index: 10;
				@include transition (all 0.3s $easing);
					    -webkit-transform: translate3d(0, 0, 0);
					            transform: translate3d(0, 0, 0);

				span {
					opacity: 1;
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				}

				&:hover {
					cursor: text;
				}
			}


			.btn {
				@include transition (all 0.3s $easing);
					    -webkit-transform: translate3d(0, 0, 0);
					            transform: translate3d(0, 0, 0);
				z-index: 20;
				top: 0;
				right: 1px;
				margin-bottom: 0;
				position: absolute;
				opacity: 0;
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				float: right;
			}
			&.active {
				.btn {
					@include transition (all 0.3s $easing);
						    -webkit-transform: translate3d(0, 0, 0);
						            transform: translate3d(0, 0, 0);
					top: 0;
					right: 1px;
					margin-bottom: 0;
					position: absolute;
					opacity: 1;
					float: right;
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				}

				.placeholder {
					@include transition (all 0.3s $easing);
						    -webkit-transform: translate3d(0, 0, 0);
						            transform: translate3d(0, 0, 0);
					text-align: left;
					span {
						opacity: 0;
						filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
					}
				}
			}

		}
	}
}

.github-invite {
	padding-top: 60px;
	padding-bottom: 60px;
	.fa {
		font-size: 7em;
	}
}

.bg-grid {
	background-size: cover;
	background: url(../img/bg-grid.png) no-repeat center center;
}



.bg-gray {
	background-color: #f2e8e8;
	font-family: 'latolight', Helvetica, Arial , sans-serif;
}

.bg-blue {
	background-color: #48b3f9;
	color: white;
	font-family: 'latolight', Helvetica, Arial , sans-serif;

	a {
		color: inherit;
	}
}

.bg-chrome {
	background-image: url(../img/chrome-img.png);
	background-repeat: no-repeat;
	@media (max-width: $screen-xs) {
		background-size: 220px;
		background-position: 140% center;
	}
	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		background-size: 180px;
		background-position: 85% center;
	}
	@media (min-width: $screen-sm-min) {
		background-size: 200px;
		background-position: 90% center;
	}
	@media (min-width: $screen-md-min) {
		background-size: 350px;
		background-position: 80% 25px;
	}
}

.bg-mail {
	background-image: url(../img/mail-img.png);
	background-repeat: no-repeat;
	@media (max-width: $screen-xs) {
		background-size: 180px;
		background-position: -65px center;
	}
	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		background-size: 180px;
		background-position: 12% center;
	}
	@media (min-width: $screen-sm-min) {
		background-size: 200px;
		background-position: left center;
	}
	@media (min-width: $screen-md-min) {
		background-size: 270px;
		background-position: 22% 25px;
	}
}

a:hover {
	border-bottom: 2px solid $link-color;
	padding-bottom: 5px;
}

.footer-text {
	padding-bottom: 30px;
	padding-top: 30px;
}